.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items>ul {
    display: flex;
    font-weight: 600;
    cursor: pointer;
    list-style-type: none;
}

.nav-items>ul>li {
    margin: 10px;
    padding: 10px;
}

.search {
    padding: 10px;
}

.resturant-body {
    display: flex;
    flex-wrap: wrap;
}

.resturant-card {
    width: 200px;
    transition: all .3s;
    box-shadow: 0 4px 8px #0003;
    margin: 10px;
    border-radius: 10px;
}

.resturant-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.resturant-logo {
    width: 100%;
    border-radius: 8px;
}

.resturant-container {
    padding: 10px;
    line-height: 1;
    word-wrap: break-word;
}


.filter-section {
    padding: 12px 10px;
    display: flex;
}

.filter-btn {
    line-height: 1.8;
    background-color: burlywood;
    color: brown;
    border-radius: 20px;
    border: burlywood;
    padding: 5px 12px;
    margin-left: 12px;
    height: 35px;
    cursor: pointer;
}

.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    transition: all .3s;
    box-shadow: 0 4px 8px #0003;
    margin: 10px;
    border-radius: 10px;
}

.shimmer-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.lgn-btn {
    width: 100px;
    height: 35px;
    padding: 2px;
    cursor: pointer;
}

.search-scn {
    display: flex;
    margin: 0 0 20px 6px;
    border: 1px solid #8d6464;
    width: 20%;
}

.search-input {
    line-height: 1.5;
    padding: 6px 6px;
    border: none;
}

.search-btn {
    border: none;
    width: 32%;
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
    pointer-events: none;
}

.res-count{
    color: #dc143c;
    margin-left: auto;
    margin-right: 0;
    font-size: 20px;
    font-weight: 400;
    border: 1px dotted #dc143c;
    height: 25px;
    padding: 4px 10px;
}

.contact-info{
    font-size: 20px;
    font-weight: 500;
}

.body{
    text-decoration: none;
    color: black;
}

.user-card{
    padding: 12px 10px;
    background: #deb887;
    height: 12%;
    width: 20%;
    cursor: pointer;
    margin: 10px;
}